:root {
  --menu-text: #4a4a4a;
  --main-background-color: #3cdbc0;
  --principal-text: #ffffff;
  --header-background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  font-size: 10px;
}
/* header  */
.header {
  width: 100%;
  position: fixed;
  top: 0px;

  background-color: var(--header-background-color);
}
.section:first-of-type {
  display: flex;
  justify-content: center;
}
.section-img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 155px;
}

/* header menu */
.header-menu {
  display: flex;
  justify-content: center;
}

.menu-option:first-of-type {
  padding-right: 20px;
}
.menu-option {
  font-size: 1.6rem;
  color: var(--menu-text);
  text-transform: uppercase;
}
/* main */
.main {
  background-color: var(--main-background-color);
  display: flex;
  height: 120vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 500px;
  line-height: 40px;
}
h1 {
  color: var(--principal-text);
  font-size: 3rem;
}
/* responsive */

@media all and (min-width: 768px) {
  .section:first-of-type {
    display: flex;
    justify-content: left;
    margin-left: 30px;
    margin-top: 20px;
  }
  .header-menu {
    display: flex;
    justify-content: right;
    margin-right: 30px;
    margin-bottom: 20px;
    transform: translateY(-40px);
  }

  .main {
    word-spacing: 1500px;
    line-height: 40px;
  }
}
