.main {
  background-color: $BKcolor;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  word-spacing: 500px;
  line-height: 40px;
  &__h1 {
    color: $principal-text;
    font-size: 3rem;
    text-transform: capitalize;
  }
}

/* responsive */

@media all and (min-width: 768px) {
  .main {
    word-spacing: 1500px;
    line-height: 40px;
    &__h1 {
      font-size: 4rem;
    }
  }
}
